<p id="notice"><%= notice %></p>

<p>
  <strong>1:</strong>
  <%= @com.1 %>
</p>

<p>
  <strong>3:</strong>
  <%= @com.3 %>
</p>

<p>
  <strong>4:</strong>
  <%= @com.4 %>
</p>

<%= link_to 'Edit', edit_com_path(@com) %> |
<%= link_to 'Back', coms_path %>
